@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Based from https://gist.github.com/Zren/37bed9ed257347d97233273f32287707 */

/*
* In order for userChrome.css to work, you need to open `about:config` and change
* `toolkit.legacyUserProfileCustomizations.stylesheets` to `true`.
*/

/* Hide ContextMenu Items */
/* https://www.reddit.com/r/firefox/comments/7dvtw0/guide_how_to_edit_your_context_menu/ */
/* https://searchfox.org/mozilla-release/source/browser/base/content/browser-context.inc */
#contentAreaContextMenu #context-bookmarklink,
#contentAreaContextMenu #context-selectall,
#contentAreaContextMenu #context-sendlinktodevice,
#contentAreaContextMenu #context-sendpagetodevice, 
#contentAreaContextMenu #context-sep-sendlinktodevice,
#contentAreaContextMenu #context-sep-sendpagetodevice,
#contentAreaContextMenu #context-sendimage,
#contentAreaContextMenu #context-setDesktopBackground,
#contentAreaContextMenu #context-inspect-a11y,
#contentAreaContextMenu #context-viewpartialsource-selection {
	display: none !important;
}

/* Remove left tabbar padding when not maximized. */
/*.titlebar-placeholder[type="pre-tabs"] { display: none; } *//* Firefox 64 */
.titlebar-spacer[type="pre-tabs"] { width: 0 !important; } /* Firefox 65+ */

/* Add numbers to tabs */
#tabbrowser-tabs{
	counter-reset: tab_count;
}
.tabbrowser-tab .tab-content{padding-left: 2px;}
.tabbrowser-tab .tab-content::before{
	display: -moz-box;
	padding-left: 3px; /* box */
	padding-right: 3px; /* box */

	margin-bottom: 16px; /* hit top */
	margin-left: -8px; /* hit left */
	margin-right: 2px; /* give favico space */

	counter-increment: tab_count;
	content: counter(tab_count);
	
	font-weight: bold;
	color: black;
	background-color: orange;
	font-size: 15px;
}

/* Make selected tabs blue because the default sucks */
.tab-background[selected="true"] {
	background-color: blue !important;
	background-image: none !important;
}
