@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Based from https://gist.github.com/Zren/37bed9ed257347d97233273f32287707 */

/*
* In order for userChrome.css to work, you need to open `about:config` and change
* `toolkit.legacyUserProfileCustomizations.stylesheets` to `true`.
*/

/* Hide ContextMenu Items */
/* https://www.reddit.com/r/firefox/comments/7dvtw0/guide_how_to_edit_your_context_menu/ */
/* https://searchfox.org/mozilla-release/source/browser/base/content/browser-context.inc */
#contentAreaContextMenu #context-bookmarklink,
#contentAreaContextMenu #context-selectall,
#contentAreaContextMenu #context-sendlinktodevice,
#contentAreaContextMenu #context-sendpagetodevice, 
#contentAreaContextMenu #context-sep-sendlinktodevice,
#contentAreaContextMenu #context-sep-sendpagetodevice,
#contentAreaContextMenu #context-sendimage,
#contentAreaContextMenu #context-setDesktopBackground,
#contentAreaContextMenu #context-inspect-a11y,
#contentAreaContextMenu #context-viewpartialsource-selection {
	display: none !important;
}

/* Remove left tabbar padding when not maximized. */
.titlebar-spacer[type="pre-tabs"] {
	width: 0 !important;
}

/* Remove tiny space next to the X button and the last tabs */
.titlebar-spacer[type="post-tabs"] {
	width: 0 !important;
}

/* Add numbers to tabs */
tabs {
	counter-reset: tab_count;
}
tab .tab-content {
	padding-left: 2px;
}
tab .tab-content::before{
	display: -moz-box;
	padding-left: 3px; /* box */
	padding-right: 3px; /* box */

	margin-bottom: 16px; /* hit top */
	margin-left: -8px; /* hit left */
	margin-right: 2px; /* give favico space */

	counter-increment: tab_count;
	content: counter(tab_count);
	
	font-weight: bold;
	color: black;
	background-color: orange;
	font-size: 15px;
}
html|*:root#main-window[privatebrowsingmode] tab .tab-content::before {
    /* different colour for private window */
    background-color: #8800ff !important;
    color: white;
}

/* Make selected tabs blue because the default sucks */
vbox .tab-background[selected="true"] {
	background-color: blue !important;
	background-image: none !important;
}
